.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.formules svg {
    padding-bottom: 5px;
    margin: 0px 10px 0px 10px;
    max-width: 100%;
    width: auto;
    height: 1.6em;
    vertical-align: middle !important; /* aligne au milieu du texte */
    display: inline;
  }